$primary-color: #1d3557;
$error-color: #e63946;
$text-color: #293241;
$border-radius: 4px;

.default_pic{
  margin-bottom :0px !important
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center; 
  margin-top: 5rem;
  padding: 3rem;

  h1 {
    font-size: 2rem;
    color: $text-color;
    margin-bottom: 2rem;
  }
  form{
    width: 500px;
  }

  label,
  input {
    color: $text-color;
  }

  label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .profile_picture{
    width: 75%;
  }

  input,.notlisted, .notlisted-error {
    border: 2px solid rgba($primary-color, 0.8);
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .form-row-pass {
    display: grid;
    margin-bottom: 14px;

  }

  .eye-password{
    position: relative;
    margin-left: auto;
    margin-right: 4%;
    margin-top: -7%;
    cursor: pointer;
  }
  @media (max-width: 414px) {
    .eye-password {
        position: relative;
        margin-left: auto;
        margin-right: 1%;
        margin-top: -15%;
      }
  }

  button {
    color: white;
    width: 100%;
    font-size: 1.2rem;
    background: $primary-color;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    margin-top: 0.8rem;

    &:hover {
      background: rgba($primary-color, 0.8);
    }
  }

  .input-error, .notlisted-error{
    border-color: $error-color;
  }
  
  .error {
    color: $error-color;
    font-size: 1rem;
    margin-top: 0.3rem;
  }
  a{
    align-self: self-start;
    padding-left: 5.5rem;
  }
}

.homepage{
  padding-left: 10px;
  padding-top: 10px;

  .category-blog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
  
  }

}